body {
    background-image: url("images/background.jpg");
    background-size: cover;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 60px;
    color: white;
    font-size: 30px;
}
#searchResults {
    visibility: hidden;
}
#time {
    visibility: hidden;
    width: auto;
    font-size: small;
}
h1 {
    color: #202020;
}
#query {
    border-radius: 15px;
    padding: 10px;
    width:400px;
}
button {
    border-radius: 15px;
    padding: 10px;
    background-color: white;
}